.vscode/settings.json
target/english.war
target/classes/com/englishtrans/controllers/CreateWordServletController.class
target/classes/com/englishtrans/controllers/DeleteWordServletController.class
target/classes/com/englishtrans/controllers/EditWordServletController.class
target/classes/com/englishtrans/controllers/homeViewServletController.class
target/classes/com/englishtrans/controllers/WordListServletController.class
target/classes/com/englishtrans/models/DBCrud.class
target/classes/com/englishtrans/models/MySQLConnection.class
target/classes/com/englishtrans/models/WordMean.class
target/english/index.jsp
target/english/WEB-INF/web.xml
target/english/WEB-INF/classes/com/englishtrans/controllers/CreateWordServletController.class
target/english/WEB-INF/classes/com/englishtrans/controllers/DeleteWordServletController.class
target/english/WEB-INF/classes/com/englishtrans/controllers/EditWordServletController.class
target/english/WEB-INF/classes/com/englishtrans/controllers/homeViewServletController.class
target/english/WEB-INF/classes/com/englishtrans/controllers/WordListServletController.class
target/english/WEB-INF/classes/com/englishtrans/models/DBCrud.class
target/english/WEB-INF/classes/com/englishtrans/models/MySQLConnection.class
target/english/WEB-INF/classes/com/englishtrans/models/WordMean.class
target/english/WEB-INF/lib/jakarta.el-api-5.0.0.jar
target/english/WEB-INF/lib/jakarta.servlet.jsp.jstl-3.0.0.jar
target/english/WEB-INF/lib/jakarta.servlet.jsp.jstl-api-3.0.0.jar
target/english/WEB-INF/lib/mysql-connector-j-8.0.33.jar
target/english/WEB-INF/lib/protobuf-java-3.21.9.jar
target/english/WEB-INF/views/createWordView.jsp
target/english/WEB-INF/views/editView.jsp
target/english/WEB-INF/views/footer.jsp
target/english/WEB-INF/views/header.jsp
target/english/WEB-INF/views/homeView.jsp
target/english/WEB-INF/views/index.jsp
target/english/WEB-INF/views/menu.jsp
target/english/WEB-INF/views/wordListView.jsp
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
